@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.palt {
  font-feature-settings: "palt"; 
  letter-spacing: 0.03em;
}

.link-arrow {
  position: relative;

  &::after {
    content: "";
    width: 8px;
    aspect-ratio: 1/1;
    border: solid #999999;
    border-width: 1px 1px 0 0;
    rotate: 45deg;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 8px;
  }
}

.detail-bg-image {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #fff 0%, transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}